form#todos
  a.button.all-complete(v-on='click: allComplete') ∨
  input(v-model='inputTodoName', placeholder="Add a ToDo item")
  input(v-on='click: addTodo', type='button', value='add todo')
  ul
    li.todo(v-repeat='todo in todos' v-class='hide: todo.hide')
      input(v-model='todo.completed', type='checkbox')
      label(v-class='completed: todo.completed') {{todo.name}}
        a(v-on='click: delTodo($index)') &nbsp;×
  div#footer
    div.left {{lefts}} items left
    ul.filter
      li
        a.button(v-on='click: showAll') All
      li
        a.button(v-on='click: showActive') Active
      li
        a.button(v-on='click: showComplete') Completed
    a.clear-complete(v-on='click: clearComplete' v-show='clearCompleted') Clear completed
